USE [master]
GO
/****** Object:  Database [SALE]    Script Date: 12/23/2019 1:27:13 PM ******/
CREATE DATABASE [SALE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SALE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SALE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SALE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SALE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SALE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SALE]
GO
/****** Object:  Table [dbo].[PRODUCER]    Script Date: 12/23/2019 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCER](
	[producerID] [varchar](10) NOT NULL,
	[name] [nvarchar](100) NULL,
	[location] [nvarchar](100) NULL,
 CONSTRAINT [PK_PRODUCER] PRIMARY KEY CLUSTERED 
(
	[producerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 12/23/2019 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[productID] [varchar](10) NOT NULL,
	[name] [nvarchar](100) NULL,
	[detail] [nvarchar](100) NULL,
	[price] [decimal](28, 8) NULL,
	[typeID] [varchar](10) NULL,
	[producerID] [varchar](10) NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYPE]    Script Date: 12/23/2019 1:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE](
	[typeID] [varchar](10) NOT NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK_TYPE] PRIMARY KEY CLUSTERED 
(
	[typeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PRODUCER] ([producerID], [name], [location]) VALUES (N'ASUS', N'ASUS', N'ASUS')
INSERT [dbo].[PRODUCER] ([producerID], [name], [location]) VALUES (N'DELL', N'DELL', N'CHINA')
INSERT [dbo].[PRODUCER] ([producerID], [name], [location]) VALUES (N'SAMSUNG   ', N'SAMSUNG', N'KOREA')
INSERT [dbo].[PRODUCT] ([productID], [name], [detail], [price], [typeID], [producerID]) VALUES (N'SP0001', N'Điện thoại SAMSUNG 01', N'Điện thoại SAMSUNG Đời 1', CAST(500000.00000000 AS Decimal(28, 8)), N'T01', N'DELL')
INSERT [dbo].[PRODUCT] ([productID], [name], [detail], [price], [typeID], [producerID]) VALUES (N'SP0002', N'Điện thoại SAMSUNG 02', N'Điện thoại SAMSUNG Đời 2', CAST(1000000.00000000 AS Decimal(28, 8)), N'T01', N'SAMSUNG   ')
INSERT [dbo].[PRODUCT] ([productID], [name], [detail], [price], [typeID], [producerID]) VALUES (N'SP0003', N'Laptop 01', N'Laptop đời 01', CAST(1500000.00000000 AS Decimal(28, 8)), N'T02', N'ASUS')
INSERT [dbo].[TYPE] ([typeID], [name]) VALUES (N'T01', N'Điện thoại')
INSERT [dbo].[TYPE] ([typeID], [name]) VALUES (N'T02', N'Laptop')
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_PRODUCER] FOREIGN KEY([producerID])
REFERENCES [dbo].[PRODUCER] ([producerID])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_PRODUCER]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_TYPE] FOREIGN KEY([typeID])
REFERENCES [dbo].[TYPE] ([typeID])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_TYPE]
GO
USE [master]
GO
