
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div class="row">
            <a href="/Admin/Users">List Users</a>
        </div>
        <div class="row">
            <a href="/Admin/Products">List Products</a>
        </div>
        <div class="row">
            <a href="/Admin/Types">List Types</a>
        </div>
        <div class="row">
            <a href="/Admin/Orders">List Orders</a>
        </div>
    </div>
    <div class="col-md-4">
    </div>    
</div>